.vectorButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: unset;
    border-radius: 10%;
    gap: 10px;
    width: max-content;
    height: max-content;
    cursor: pointer;
}