.boardParent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid black;
}

.childBoard {
    display: flex;
    gap: 10px;
    justify-content: center;
    border-collapse: collapse;
}

.board.active {
    background-color: red;
}